# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

.idea
.vscode
.gradle
build
auth/build
manager/build
compiler/build
deploy/k8s/namespace*
deploy/k8s/secret*
deploy/k8s/pvc*
deploy/k8s/storage*
deploy/k8s/ingress*
deploy/k8s/deploy.sh